# Analysis Report 3

## Selections and Frequencies

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data/aluguel_residencial.csv', sep = ';')

In [5]:
data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [16]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'
#selection = data['Tipo'] == 'Apartamento'
#n1 = data[selection]
#n1

In [17]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'
selection = data['Tipo'] == 'Apartamento'
n1 = data[selection].shape[0]
n1

19532

In [18]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selection = (data['Tipo'] == 'Casa') | (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')
n2 = data[selection].shape[0]
n2

2212

In [19]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selection = (data['Area'] >= 60) & (data['Area'] <= 100) 
n3 = data[selection].shape[0]
n3

8719

In [20]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selection = (data['Quartos'] >= 4) & (data['Valor'] < 2000) 
n4 = data[selection].shape[0]
n4

41

In [21]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41